{% extends 'core/base.html'%}

{% block title %} Home Page {% endblock title %}

{% block content %} 
    <h1 style="text-align: center ;">TODO App</h1>
    <hr>
    <div style="text-align: center ;">
        {% for todo in todos%}
            <h2>{{todo.title}}</h2>
            <p>{{todo.desc}}</p>
            <small>{{todo.date_posted}}</small>
            <a href="">Edit</a>
            <a href="">Delete</a>
            <hr>

        {%endfor%}
        <a href="" class="btn btn-primary">Add</a>
        <a href="" class="btn btn-danger">Delete All</a>
        
    </div>
    
{% endblock content %}